.lessons_wrap {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: auto auto auto;
  min-height: 84.5vh;
}

@media only screen and (max-width: 1100px) {
  .lessons_wrap {
    grid-template-columns: auto auto;
  }
}
/* @media only screen and (max-width: 500px) {
  .lessons_wrap {
    grid-template-columns: auto;
  } 
} */
