.search-main {
  width: 100%;
  padding: 15px 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border-radius: 50px;
  color: #ffffff;
  background: #5b4784;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.search-main::placeholder {
  color: #fff;
}

.search-div {
  position: relative;
}

.search-div img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.student_lessons{
  width: 100%;
  padding: 15px 5px;
  display: flex;
  column-gap: 16px;
  row-gap: 21px;
  justify-content: space-between;
  flex-wrap: wrap;
}