.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #5b4784;
  padding-top: 17px;
  border-radius: 50px;
}

.main-page {
  display: flex;
  gap: 19px;
  padding-top: 17px;
}

.search-main {
  /* position: fixed; */
  width: 100%;
  padding: 15px 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border-radius: 50px;
  color: #ffffff;
  background: #5b4784;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.search-main::placeholder {
  color: #fff;
}

.search-div {
  position: relative;
}

.search-div img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  right: 20px;
}

.hisoblar {
  padding-top: 130px;
  width: 600px;
  height: 202px;
}

.hisoblar h2 {
  font-size: 30px;
  margin-top: 45px;
}

.hisoblar p {
  font-size: 35px;
}
