.course_info{
  display: flex;
  gap: 20px;
  margin-top: 3vh;
}
.back {
  position: absolute;
  top: 10px;
  left: 27px;
  background-color: #604996;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 25px;
}