.sidebar-main-content {
  padding: 0 6px;
  padding-top: 21px;
  margin-right: 50px;
}
.sidebar-main-content h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
  text-align: center;
  color: #ffffff;
}
.sidebar-line {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #fff;
  height: 1px;
}
.main__course-buy {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}
.every__cource-info {
  width: 44vw;
  border-radius: 50px;
  background: #5b4784;
}
.every__cource-bigImg {
  width: 100%;
  height: 370px;
}
.every__cource-title img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.every__cource-title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.every__cource-title h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.every__cource-desc {
  padding: 23px 30px 15px 23px;
}
.every__cource-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.every__cource-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}
.every__cource-nav img:first-child {
  width: 25px;
  height: 25px;
}
.every__cource-nav img:last-child {
  width: 25px;
  height: 23px;
}
.every__cource-nav img:nth-child(2) {
  width: 29px;
  height: 29px;
}
.every__cource-name p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 18px;
}
.every__cource-about p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 21px;
}
.every__cource-num p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.every__cource-num {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.every__course-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}
.every__course-buttons button {
  font-family: "Inter";
  font-style: normal;
  border-radius: 20px;
  background-color: #372B4F;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 12px 50px;
}
