.teacher_hisoblar__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher_hisoblar {
  width: 420px;
  height: 202px;
  margin: 0 auto;
}

.teacher_hisoblar h2 {
  font-size: 30px;
  margin-top: 45px;
}

.teacher_hisoblar p {
  font-size: 35px;
}
.price_btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 30px;
  background-color: #372b4f;
  padding: 4px 55px;
  color: #ffffff;
  display: block;
  position: absolute;
  bottom: 46px;
  left: 46%;
  transform: translateX(-50%);
}