.sidebar-component{
  display: flex;
  gap: 6px;
  
}
.sidebar-component p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;

}
.sidebar-component img{
  width: 114px;
  height: 90px;
  border-radius: 20px;
  object-fit: cover;
}