.back {
  position: absolute;
  top: 22px;
  left: 27px;
  background-color: #48386a;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back ion-icon {
  color: #fff;
  font-size: 27px;
}
.sign_wrap {
  background-color: #5b4784;
  width: 70%;
  position: relative;
  margin: 0 auto;
  height: 90vh;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.sign_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  height: 100%;
}
.sign_form input {
  width: 100%;
  background-color: #453663;
  color: #fff;
  outline: none;
  padding: 10px 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border: none;
  margin-bottom: 25px;
  border-radius: 20px;
}
.sign_form button {
  padding: 4px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background-color: tr;
  outline: none;
  border: none;
  background-color: #453663;
  border-radius: 30px;
  width: 100%;
}
.registr_form {
  width: 402px;
  margin: 0 auto;
}
.registr_title {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 31px;
  color: #ffffff;
}
.registr_form input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #fff;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  margin-bottom: 14px;
}
.registr_form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.registr_form button {
  margin-top: 33px;
  padding: 5px 41px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;
  outline: none;
  border: none;
  background: linear-gradient(180deg, #3706f4 4.65%, rgba(55, 6, 244, 0) 181.36%);
  border-radius: 50px;
  width: 100%;
}
.alright_note{
  position: absolute;
  top: 15px;
  right: 35px;
}
/* 
.input_registr_file {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
} */
/* .input_registr_file p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 14px;
} */
/* .input_registr_file ion-icon{
 font-size: 50px;
 position: absolute;
 top: -6px;
 right: 0;
} */
/* .input_registr_file input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  opacity: 0;
} */