

.sidebar-main-content {
  padding: 0 5px;
  padding-top: 21px;
  overflow-y: scroll;
  max-height: 90vh;
}
.sidebar-main-content h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
  text-align: center;
  color: #ffffff;
}
.sidebar-line {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #fff;
  height: 1px;
}
.cursor_class{
  cursor: pointer;
}

.commit {
  padding: 21px 16px 16px 35px;
}
.commit h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-bottom: 26px;
}
.commit h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.users_subs {
  padding: 11px 8px;
}
.users_subs-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.users_subs-buttons a {
  padding: 5px 26px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  border-radius: 20px;
}
.line-main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 1.5px;
  margin-top: 7px;
  margin-bottom: 12px;
}
.users_subs-buttons a.active {
  background-color: #3a2c5b;
}
.obunalar-cart {
  padding: 12px 9px;
  display: flex;
  align-items: center;
  gap: 9px;
  background-color: #3a2c5b;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
.obunalar-cart img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.obunalar-cart div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.obunalar-cart div span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.carts-wrapper{
  padding-bottom: 10px;
}
.darslar-cart{
  display: flex;
  gap: 6px;
  background-color: #3a2c5b;
  border-radius: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  height: 90px;
}

.darslar-cart div{
  padding: 5px 8px 5px 5px;
  height: 100%;
  overflow-y: scroll;
}
.darslar-cart img{
  width: 114px;
  height: 90px;
  border-radius: 20px;
}
.darslar-cart div p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  
  padding: 3px 0;
  line-height: 15px;
  color: #FFFFFF;
}
.darslar-cart div p:first-child{
  font-weight: 700;
  font-size: 16px;
}
.darslar-cart div p:last-child{
  font-size: 14px;
}
.sidebar-main-wrap {
  overflow-y: scroll;
  max-height: 90vh;
}
.sidebar-bought-course{
  padding-bottom: 20px;
  /* height: 200px;
  overflow-y: scroll; */
}
/* .saved_courses{
  height: 250px;
  overflow-y: scroll;
} */

/* .saved_courses::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.saved_courses::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.saved_courses::-webkit-scrollbar-thumb {
  background: #bbb; 
  width: 50px;
  border-radius: 10px;
}
.saved_courses::-webkit-scrollbar-thumb:hover {
  background: #fff; 
} */


.mobile__header{
  width: 100%;
  display: flex;
  gap: 40px;

  align-items: center;
  background: rgba(0, 0, 0, 0.2);
border-radius: 50px 50px 0px 0px;
  /* justify-content: center; */
}
.mobile__header{
  position: relative;
  padding: 24px 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}
.mobile__header h2{
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
} 
.mobile__header .circle{
  position: absolute;
  top: 15px;
  left: 14px;
  margin: 0;
}
.mobileForPadding{
  padding: 17px 11px;
}
@media only screen and (max-width:540px){
  .darslarModal .sidebar-main-content{
    padding: 0;
  }
}
