.hisoblar {
  padding-top: 113px;
  /* max-width: 600px;
  width: 100%; */
  height: 202px;
}

.hisoblar h2 {
  font-size: 30px;
  margin-top: 45px;
}

.hisoblar_header {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 80;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.hisoblar_number {
  font-family: 'Inter';
  font-size: 32px;
  max-width: 400px;
  width: 100%;
  padding-bottom: 20px;
}
@media only screen and (max-width:1040px) {
  .hisoblar{
    padding-left: 20px;
  }
}
@media only screen and (max-width:468px) {
  .hisoblar{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding:200px 40px;
    padding-bottom: 0;
    justify-content: center;
  }
  .hisoblar_header {

    text-align: left;
    max-width: 306px;
    width: 100%;
    font-size: 15px;
  }

  .hisoblar_number {
    max-width: 306px;
    width: 100%;
    font-size: 24px;
  }
}
@media only screen and (max-width:410px) {
  .hisoblar{
    padding:200px 20px 0px 10px;
    padding-bottom: 0;
  }
  .hisoblar_header {
    max-width: 330px;
  }

  .hisoblar_number {
    max-width: 330;
  }
}
/* @media only screen and (max-width:368px) {
  .hisoblar{
    padding:200px 15px;
    padding-bottom: 0;
  }
  .hisoblar_header {
    max-width: 330px;
  }

  .hisoblar_number {
    max-width: 330;
  }
} */
