.main_teacher_content {
  display: flex;
  flex-wrap: wrap;
  background-color: #5b4784;
  padding: 17px 6px 20px 6px;
  border-radius: 50px;
  justify-content: space-evenly;
  row-gap: 21px;
  width: 100%;
}

.main-page {
  display: flex;
  gap: 19px;
}

.search-main {
  width: 100%;
  padding: 15px 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border-radius: 50px;
  color: #ffffff;
  background: #5b4784;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.search-main::placeholder {
  color: #fff;
}

.search-div {
  position: relative;
}

.search-div img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  right: 20px;
}

.sidebar-main-wrap {
  overflow-y: scroll;
  max-height: 90vh;
}

.sidebar-wrap {
  height: 90vh;
  overflow: hidden;
}

.teacher-main-sidebar {
  display: flex;
  column-gap: 0;
}

/* teacher profile start */
.main_profile_container {
  display: flex;
  flex-wrap: wrap;
  background-color: #5b4784;
  border-radius: 50px;
  justify-content: space-evenly;
  row-gap: 21px;
}
.main_profile_container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-top: 32px;
  margin-bottom: 11px;
}
/* teacher profile end*/

/* Hisoblar start */
.teacher_hisoblar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teacher_hisoblar {
  width: 420px;
  height: 202px;
  margin: 0 auto;
}

.teacher_hisoblar h2 {
  font-size: 30px;
  margin-top: 45px;
}

.teacher_hisoblar p {
  font-size: 35px;
}
.price_btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 30px;
  background-color: #372b4f;
  padding: 4px 55px;
  color: #ffffff;
  display: block;
  position: absolute;
  bottom: 46px;
  left: 46%;
  transform: translateX(-50%);
}
/* Hisoblar end */
