.loader {
	position: relative;
	margin: auto;
	width: 2vmin;
	height: 50vh;
}

.loader-el {
	--origin-x: center;
	--origin-y: center;

	width: 8px;
	height: 8px;
	position: absolute;
	top: calc(50% - 4px);
	left: calc(50% - 4px);
	animation: spin 0.6s linear infinite;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		animation: spin 1s ease-out infinite;
		transform-origin: var(--origin-x) var(--origin-y);
		background-color: #fff;
	}

	&:nth-child(1) {
		&::before {
			--origin-y: -100%;
		}

		&::after {
			--origin-y: 200%;
		}
	}

	&:nth-child(2) {
		&::before {
			--origin-x: -100%;
		}

		&::after {
			--origin-x: 200%;
		}
	}
}


@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}