.active {
    font-weight: 700;
    color: yellowgreen;
    background: rgba(0, 0, 0, 0.3);
    background-color: #3e305c;
}

.user-navbar {
    width: 23vw;
}

.Nav ul {
    margin-top: 30px;
    padding: 0 27px;
}

.Nav ul li {
    position: relative;
    padding: 5px 12px;
}

.Nav ul li a {
    display: block;
    border-radius: 15px;
    text-transform: capitalize;
    width: 100%;
    padding: 14px 15px 14px 70px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}

.Nav ul li img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}

.qaytish {
    width: 40px;
    height: 40px;
    background: rgba(216, 29, 29, 0.3);
}

.circle {
    background-color: #3e305c;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-top: 8%;
    margin-left: 8%;
    margin-bottom: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.3);
}
.d-none {
    display: none;
}
.user-navbar {
    height: 100%;
}
@media only screen and (max-width: 540px) {
    .studentNavbar-box {
        display: none;
    }
}

.teacher-navbar ul {
    margin-top: 30px;
    padding: 0 27px;
}
.teacher-navbar ul li {
    position: relative;
    padding: 11px 12px;
}
.teacher-navbar ul li a {
    display: block;
    border-radius: 15px;
    text-transform: capitalize;
    width: 100%;
    padding: 14px 15px 14px 70px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}
.teacher-navbar ul li img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}
.teacher-navbar {
    height: 90vh;
    width: 23vw;
    background: linear-gradient(#564282, #826a91);
    border-radius: 50px;
}
.videos_navbar {
    height: 87vh;
    width: 22vw;
    background: linear-gradient(#564282, #826a91);
    border-radius: 50px;
}
.videos_navbar ul {
    padding: 33px 20px;
}
.videos_navbar ul li {
    padding: 12px 5px 9px 5px;
    border-bottom: 2px solid #ffffff;
}
.videos_navbar ul li a {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
