.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 4px 88px;
  border-radius: 30px;
  background-color: #48386a;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
}
.process_wrap {
  width: 300px;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.process_wrap h2 {
  margin-top: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 100px;
  color: #ffffff;
}
.img_wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3b2e55;
  display: flex;
  align-items: center;
  justify-content: center;
}
