.main-cart {
  width: 100%;
  background-color: #241C35;
  border-radius: 50px;
}
.main-cart img{
  width: 100%;
}

.main-cart h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.main-cart p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 3px;
}
.desc img{
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.desc{
  display: flex;
  align-items: center;
  gap: 7px;
}
.cart-desc{
  padding: 8px 11px 13px 18px;
}
