.main-content {
  display: flex;
  justify-content: space-evenly;
  padding: 0 6px;
  flex-wrap: wrap;
  background-color: #5b4784;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  border-radius: 50px;
  gap: 21px;
  height: 100%;
}

.main-page {
  display: flex;
  gap: 19px;
}

.sidebar-student-main-wrap {
  overflow-y: scroll;
  max-height: 79vh;
}
.sidebar-main-wrap_all {
  overflow-y: scroll;
  max-height: 79vh;
}
@media only screen and (max-width:540px) {
  .main-page{
    display: block;
    /* height: 100%; */
  }
  
}