
@media only screen and(max-width:540px){
    /* .commit .commit-div{
        max-width: 300px;
        width: 100%;
        right: -50px;
    } */
}
/* .modalDarslar .commit{
  background-color: red !important;
} */