.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.buttons a{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 69px 47px;
  border-radius: 30px;
  background-color: #372B4F;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
}