.Nav {
    width: 25.5vw;
    background: linear-gradient(#564282, #826a91);
    border-radius: 50px;
}
.teacher_nav {
    background: linear-gradient(#564282, #826a91);
    border-radius: 50px;
}

.w100 {
    width: 44vw;
    max-height: 90vh;
    overflow-y: scroll;
}

/* .fife{
    height: calc(100vh - 39px - 39px);
} */
.app-content{
    height: 100%;
    display: flex;
    gap: 19px;
}
