.Nav{
    width: 25vw;
    background: linear-gradient(#564282, #826A91);
  
    /* margin-left: 10px; */
    /* min-height: calc(100vh - 39px - 39px); */
    /* height: calc(100vh - 78px); */
}
.fife{
    width: 50vw;
    min-height: calc(100vh - 39px - 39px);
}
.app-content{
    display: flex;
    gap: 19px;
    
}