@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(#8d6cd7, #d2aae8);
  color: #fff;
  padding: 37px 39px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
}
#root {
  height: 100%;
}
@media only screen and (max-width: 420px) {
  body {
    padding: 30px 10px;
  }
}
a {
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 1px;
}
.homepage {
  display: flex;
}

.w100 {
  max-height: 90vh;
  overflow-y: scroll;
}

.fife {
  height: 90vh;
}

/* .profile_student_height {
  height: calc(100vh - 39px);
}
.balance_student_height {
  height: 90vh;
} */

.teacherHomePage {
  width: 70vw;
  position: relative;
}
@media only screen and (max-width: 420px) {
  .teacherHomePage {
    width: 100%;
  }
}
.global_wrap {
  background-color: #5b4784;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

/* navbar menu */
.responsive_header {
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  display: none;
}
.menubar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5b4784;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menubar ion-icon {
  font-size: 30px;
}
.header_desc {
  padding: 11px 75px;
  background-color: #5b4784;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
.header_desc p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 420px) {
  .responsive_header {
    display: flex;
  }
}
.mobile_none .mobile-for {
  display: none;
}
@media only screen and (max-width: 540px) {
  .modal-navbar {
    height: 100%;
  }
  .modalDarslar {
    height: 100%;
  }
  .modalDarslar .Nav {
    height: 100%;
  }
  .mobile_none .mobile-for {
    display: flex;
  }
  .homepage {
    display: block;
    width: 100%;
  }
  body {
    padding: 54px 10px;
  }
}
