@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
  background: linear-gradient(#8D6CD7, #D2AAE8);
  
  color: #fff;
  padding: 55px 39px;
  font-family: 'Inter', sans-serif;
}
a{
  color: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}