@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(#8d6cd7, #d2aae8);
  color: #fff;
  padding: 37px 39px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
}
a {
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 1px;
}
.homepage {
  width: 60vw;
  height: 90%;
  display: flex;
}
.teacherHomePage {
  width: 70vw;
  position: relative;
}
.global_wrap {
  background-color: #5b4784;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  box-shadow: 15px 15px 100px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}
