.Nav{
  width: 25.5vw;
  background: linear-gradient(#564282, #826A91);
  border-radius: 50px;
}
.teacher_nav{
  background: linear-gradient(#564282, #826A91);
  border-radius: 50px;
}
.app-content{
  display: flex;
  gap: 19px;
}